* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
   background-image: url(./assets/beach.jpg);
   background-size: cover;
   background-repeat: no-repeat;
   background-attachment: fixed;
   overflow: hidden;
}

#move {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 200px;
    width: 200px;
    border-radius: 50%;
}
